.ant-badge {
  color: inherit;
}

.ant-badge-count {
  font-size: var(--iflyv-font-size-12);
  background: var(--iflyv-danger-primary);
  box-shadow: 0 0 0 1px var(--iflyv-bg-panel);
}

.ant-badge-dot {
  background: var(--iflyv-danger-primary);
  box-shadow: 0 0 0 1px var(--iflyv-bg-panel);
}
