.ant-descriptions-bordered .ant-descriptions-view {
  border-radius: var(--iflyv-radius-sm);
  border-color: var(--iflyv-border-default);
}

.ant-descriptions-bordered .ant-descriptions-item-label,
.ant-descriptions-bordered .ant-descriptions-item-content {
  border-color: var(--iflyv-border-default);
  font-size: var(--iflyv-font-size-16);
  line-height: var(--iflyv-line-height-24);
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  font-weight: var(--iflyv-font-weight-regular);
  color: var(--iflyv-text-2);
  background: var(--iflyv-bg-inset);
}

.ant-descriptions-item-content {
  color: var(--iflyv-text-1);
}
