.ant-empty-description {
  margin-top: var(--iflyv-spacing-3);
  color: var(--iflyv-text-3);
}

.ant-empty-footer {
  margin-top: var(--iflyv-spacing-3);
}

.ant-empty.empty-page {
  padding: var(--iflyv-spacing-10) 0;
}

.ant-empty.empty-page .ant-empty-image {
  height: auto;
}

.ant-empty.empty-page .ant-empty-image img {
  width: 120px;
}

.ant-empty.empty-block {
  padding: var(--iflyv-spacing-8) 0;
}

.ant-empty.empty-block .ant-empty-image {
  height: auto;
}

.ant-empty.empty-block .ant-empty-image img {
  width: 80px;
}
