.ant-message-notice-content {
  border-radius: var(--iflyv-radius-sm);
  box-shadow: var(--iflyv-shadow-md);
}

.ant-message-success .anticon {
  color: var(--iflyv-success-primary);
}

.ant-message-warning .anticon {
  color: var(--iflyv-warning-primary);
}

.ant-message-error .anticon {
  color: var(--iflyv-danger-primary);
}

.ant-message-info .anticon {
  color: var(--iflyv-brand-primary);
}
