.ant-popover-inner {
  border-radius: var(--iflyv-radius-md);
  box-shadow: var(--iflyv-shadow-lg);
}

.ant-popover-message-title {
  color: var(--iflyv-text-1);
}

.ant-popover-message > .anticon {
  color: var(--iflyv-warning-primary);
}
