.ant-rate {
  color: var(--iflyv-warning-primary);
  font-size: 18px;
}

.ant-rate-star:not(:last-child) {
  margin-right: 6px;
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: var(--iflyv-border-strong);
}

.ant-rate-disabled .ant-rate-star-zero .ant-rate-star-first,
.ant-rate-disabled .ant-rate-star-zero .ant-rate-star-second {
  color: var(--iflyv-border-default);
}

.ant-rate-text {
  margin-left: var(--iflyv-spacing-2);
  color: var(--iflyv-text-2);
  font-size: var(--iflyv-font-size-14);
}
