.ant-slider-rail {
  background-color: var(--iflyv-bg-page-white);
  border: 1px solid var(--iflyv-border-default);
}

.ant-slider-track {
  background-color: var(--iflyv-brand-primary);
}

.ant-slider:hover .ant-slider-track {
  background-color: var(--iflyv-brand-primary);
}

.ant-slider-handle {
  width: 14px;
  height: 14px;
  border-color: var(--iflyv-brand-primary);
}

.ant-slider-handle:focus {
  border-color: var(--iflyv-brand-primary);
  box-shadow: 0 0 0 5px var(--iflyv-brand-bg);
}

.ant-slider-dot-active {
  border-color: var(--iflyv-brand-primary);
}

.ant-slider-mark-text {
  color: var(--iflyv-text-3);
  font-size: var(--iflyv-font-size-12);
  line-height: var(--iflyv-line-height-18);
}
